<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  RewriteBase  /webanime_php/public  
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
 # RewriteRule ^(.*)$ https://webanimenth.000webhostapp.com/?url=$1 [R=301,L]
</IfModule>